.layout-bg-blur {
  background: url(/images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.layout-bg-alpha {
  background-color: var(--white-a9);
}

.dark .layout-bg-alpha {
  background-color: var(--black-a9);
}
