.NavigationContainer {
  background-color: var(--white-a4);
  padding: 4px;
  height: 70px;
  border-bottom: 2px solid var(--white-a5);
  position: sticky;
  right: 0;
  top: 0;
  inset-block-start: 0;
  backdrop-filter: blur(5px);
  box-shadow: 4px 2px 6px 2px var(--black-a1);
  display: flex;
  align-items: center;
}

.dark .NavigationContainer {
  background-color: var(--black-a4);
  border-bottom: 2px solid var(--white-a4);
  box-shadow: 4px 2px 6px 2px var(--white-a1);
}

.NavigationMenuRoot {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
  margin: 0;
}

.NavigationContainer li {
  list-style: none;
}

.NavigationContainer ul {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 15px;
  color: var(--violet-11);
}

.NavigationMenuTrigger:focus,
.NavigationMenuLink:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.NavigationMenuTrigger:hover,
.NavigationMenuLink:hover {
  background-color: var(--violet-3);
}

.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.NavigationMenuContent {
  position: absolute;
  top: 53px;
  right: 0;
  animation-duration: 250ms;
  animation-timing-function: ease;
  background-color: var(--white-a10);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-4);
  border: 2px solid var(--white-a5);
}

.dark .NavigationMenuContent {
  background-color: var(--black-a9);
  box-shadow:
    0 0 0 1px color-mix(in oklab, var(--gray-a1), var(--gray-6) 25%),
    0 8px 40px var(--black-a3),
    0 12px 32px -16px var(--black-a5);
  border: 1px solid var(--white-a3);
}

.NavigationMenuContent[data-motion="from-start"] {
  animation-name: enterFromLeft;
}

.NavigationMenuContent[data-motion="from-end"] {
  animation-name: enterFromRight;
}

.NavigationMenuContent[data-motion="to-start"] {
  animation-name: exitToLeft;
}

.NavigationMenuContent[data-motion="to-end"] {
  animation-name: exitToRight;
}

@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: calc(100% - 5px);
  overflow: hidden;
  z-index: 1;
  transition:
    width,
    transform 250ms ease;
}

.NavigationMenuIndicator[data-state="visible"] {
  animation: fadeIn 200ms ease;
}

.NavigationMenuIndicator[data-state="hidden"] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition:
    width,
    height,
    300ms ease;
  min-width: 200px;
  max-width: 100vw;
}

.NavigationMenuViewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}

.NavigationMenuViewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}

@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

.CaretDown {
  position: relative;
  color: var(--violet-10);
  top: 1px;
  transition: transform 250ms ease;
  margin-left: 0.25rem;
}

[data-state="open"] > .CaretDown {
  transform: rotate(-180deg);
}

.NavigationMenuRoot button.NavigationMenuTrigger {
  all: unset;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}

.NavigationMenuRoot button.NavigationMenuTrigger:hover {
  background-color: var(--gray-a2);
}

.NavigationMenuRoot button.NavigationMenuTrigger:active {
  background-color: var(--gray-a3);
}

.Arrow {
  position: relative;
  top: 70%;
  background-color: var(--white-a10);
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

.dark .Arrow {
  background-color: var(--gray-a6);
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }

  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
