.SideNavWrapper {
  background-color: var(--white-a4);
  width: 280px;
  height: 100vh;
  box-shadow:
    4px 0 6px 2px var(--black-a1),
    1px 0 0px 2px var(--white-a7);
  backdrop-filter: blur(5px);
  position: sticky;
}

.dark .SideNavWrapper {
  background-color: var(--black-a4);
  box-shadow:
    4px 0 6px 2px var(--white-a1),
    1px 0 0px 1px var(--white-a3);
}

.SideNavWrapper.mini {
  position: fixed;
  z-index: 10;
  left: -265px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.SideNavWrapper.mini:hover {
  left: 0;
}

.SideNavWrapper.mobile-hide {
  left: -285px;
  position: fixed;
  z-index: 10;
}

.SideNavWrapper.mobile-show {
  left: 0;
  position: fixed;
  z-index: 10;
}

.SideNavWrapper ul {
  list-style: none;
  padding: 0;
  padding-top: 0.5rem;
}

.SideNavWrapper li {
  margin-bottom: 0.5rem;
}

.SideNavWrapper li a {
  text-decoration: none;
  color: var(--black-a9);
}

.dark .SideNavWrapper li a {
  text-decoration: none;
  color: var(--white-a9);
}

.SideNavWrapper li .hover:hover,
.SideNavWrapper li .hover.active {
  background-color: var(--white-a6);
  transition: 0.5s;
  box-shadow: var(--shadow-4);
  border-radius: 0.5rem;
  text-decoration: none;
}

.dark .SideNavWrapper li .hover:hover,
.dark .SideNavWrapper li .hover.active {
  background-color: var(--black-a6);
  box-shadow:
    0 0 0 1px color-mix(in oklab, var(--gray-a1), var(--gray-6) 25%),
    0 8px 40px var(--black-a3),
    0 12px 32px -16px var(--black-a5);
  transition: 0.5s;
  border-radius: 0.5rem;
}
