.SideNavWrapper {
  background-color: var(--color-panel);
  width: 280px;
  height: 100vh;
  backdrop-filter: blur(64px);
  position: sticky;
  font-family: var(--font-geist-sans);
  border-right: 2px solid var(--white-a9);
}

.dark .SideNavWrapper {
  border-right: 1px solid var(--white-a3);
}

.SideNavWrapper.mini {
  position: fixed;
  z-index: 100;
  left: -265px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.SideNavWrapper.mini:hover {
  left: 0;
}

.SideNavWrapper.mobile-hide {
  left: -285px;
  position: fixed;
  z-index: 100;
}

.SideNavWrapper.mobile-show {
  left: 0;
  position: fixed;
  z-index: 10;
}

.SideNavWrapper ul {
  list-style: none;
  padding: 0;
  padding-top: 0.5rem;
}

.SideNavWrapper li {
  margin-bottom: 0.5rem;
}

.SideNavWrapper li a {
  text-decoration: none;
  color: var(--black-a9);
}

.dark .SideNavWrapper li a {
  text-decoration: none;
  color: var(--white-a9);
}

.SideNavWrapper li .hover:hover,
.SideNavWrapper li .hover.active {
  border-radius: 0.5rem;
  text-decoration: none;
}
