.SideNavWrapper {
  background-color: var(--white-a4);
  width: 280px;
  height: 100vh;
  box-shadow:
    4px 70px 6px 2px var(--black-a1),
    1px 70px 0px 2px var(--white-a7);
  backdrop-filter: blur(5px);
  position: sticky;
}

.dark .SideNavWrapper {
  background-color: var(--black-a4);
  box-shadow:
    4px 70px 6px 2px var(--white-a1),
    1px 70px 0px 1px var(--white-a3);
}

.SideNavWrapper.mini {
  width: 80px;
  position: fixed;
  z-index: 10;
}

.SideNavWrapper.mini:hover {
  width: 280px;
}
