html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
  color: var(--black-a9);
}

.dark body {
  background-color: #1f2025;
  color: var(--white-a9);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.transition-200 {
  transition: 200ms !important;
}

.w-100 {
  width: 100% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.d-block {
  display: block;
}

.position-relative {
  position: relative;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hover:hover,
.active {
  background-color: var(--white-a6);
  transition: 0.5s;
  box-shadow:
    0px 0px 1px 1px white,
    var(--shadow-4);
}

.dark .hover:hover,
.dark .active {
  background-color: var(--black-a6);
  box-shadow: var(--shadow-4);
  transition: 0.5s;
}

.layout-bg-blur {
  background: url(/images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.layout-bg-alpha {
  background-color: var(--white-a9);
}

.dark .layout-bg-alpha {
  background-color: var(--black-a9);
}

.layout-bg-alpha-gradient-bottom {
  background: linear-gradient(to bottom, var(--white-a9), var(--white-a5));
}

.dark .layout-bg-alpha-gradient-bottom {
  background: linear-gradient(to bottom, var(--black-a9), var(--black-a5));
}

.bg-hover-transparent:hover {
  background: transparent;
}

.bg-panel {
  background-color: var(--color-panel);
  backdrop-filter: blur(64px);
}

a {
  text-decoration: none;
  color: inherit;
}
